{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static "css/about.css" %}" rel="stylesheet">
{% endblock %}

{% block window %}
    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
        <h1>关于</h1>
        <p>虽然不擅长某些领域，但是网上有许许多多的开源项目、文档</p>
        <p>本站参考资料如下</p>
        
      </div>
    </div>
{% endblock %}

{% block container %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9 col-sm-8" role="main">
      <div class="bs-docs-section">
        <!--  Bootstrap  --> 
        <h1 id="bootstrap" class="page-header"><a class="anchorjs-link " href="#sass" aria-label="Anchor link for: sass" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Bootstrap——最易上手的web前端框架</h1>
        <p class="lead">本站点所使用的前端框架主要是Bootstrap，参考的文档来源于<a href="http://www.bootcss.com/">Bootstrap中文网</a>。我们将这个网站的版本放在单独的 GitHub 仓库中进行维护，并通过脚本处理源码更新。</p>
        <h2 id="bootstrap-what"><a class="anchorjs-link " href="#sass-contents" aria-label="Anchor link for: sass contents" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>什么是 Bootstrap？</h2>
        <p>Bootstrap 是一个用于快速开发 Web 应用程序和网站的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT 的。</p>
        <h3 id="bootstrap-history">历史</h3>
        <p>Bootstrap 是由 Twitter 的 Mark Otto 和 Jacob Thornton 开发的。Bootstrap 是 2011 年八月在 GitHub 上发布的开源产品。</p>
        <h2 id="bootstrap-why">为什么使用 Bootstrap？</h2>
        <ul class="list">
          <li><b>移动设备优先</b>：自 Bootstrap 3 起，框架包含了贯穿于整个库的移动设备优先的样式。</li>
          <li><b>浏览器支持</b>：所有的主流浏览器都支持 Bootstrap。
          <p>
          <img src="{% static 'img/compatible_ie.gif' %}" width="31" height="30" alt="Internet Explorer" title="Internet Explorer">
          <img src="{% static 'img/compatible_firefox.gif' %}" width="31" height="30" alt="Firefox" title="Firefox">
          <img src="{% static 'img/compatible_opera.gif' %}" width="28" height="30" alt="Opera" title="Opera">
          <img src="{% static 'img/compatible_chrome.gif' %}" width="31" height="30" alt="Google Chrome" title="Google Chrome">
          <img src="{% static 'img/compatible_safari.gif' %}" width="28" height="30" alt="Safari" title="Safari">
          </p>
          </li>
          <li><b>容易上手</b>：只要您具备 HTML 和 CSS 的基础知识，您就可以开始学习 Bootstrap。</li>
          <li><b>响应式设计</b>：Bootstrap 的响应式 CSS 能够自适应于台式机、平板电脑和手机。
          <p><img src="{% static 'img/responsive.jpg' %}" alt="响应式设计"></p>
          </li>
          <li>它为开发人员创建接口提供了一个简洁统一的解决方案。</li>
          <li>它包含了功能强大的内置组件，易于定制。</li>
          <li>它还提供了基于 Web 的定制。</li>
          <li>它是开源的。</li>
          </ul>
          <!-- Django -->
          <h1 id="django" class="page-header">Django——重量级web应用框架</h1>
          <img src="{% static 'img/django.jpg' %}" alt="django" width="220" height="100">
          <p>Python下有许多款不同的 Web 框架。Django是重量级选手中最有代表性的一位。许多成功的网站和APP都基于Django。</p>
          <p>Django是一个开放源代码的Web应用框架，由Python写成。本站的参考文档来源于<a href="http://www.djangoproject.com/">Django2.1</a></p>
          <!--jQuery-->
          <h1 id="jquery" class="page-header">jQuery——最流行的JS框架</h1>
          <p>本站大部分js效果使用的是Bootstrap，更多效果在<a href="http://www.jq22.com/">jQuery插件库</a></p>
          <h2 id="jquery-what">什么是 jQuery ？</h2>
          <p>jQuery是一个JavaScript函数库。</p>
          <p>jQuery是一个轻量级的"写的少，做的多"的JavaScript库。</p>
          <p>jQuery库包含以下功能：</p>
          <ul>
            <li>HTML 元素选取</li>
            <li>HTML 元素操作</li>
            <li>CSS 操作</li>
            <li>HTML 事件函数</li>
            <li>JavaScript 特效和动画</li>
            <li>HTML DOM 遍历和修改</li>
            <li>AJAX</li>
            <li>Utilities</li>
          </ul>
          <p><b>提示：</b> 除此之外，Jquery还提供了大量的插件。</p>
          <h2 id="jquery-why">为什么使用 jQuery ？</h2>
          <p>目前网络上有大量开源的 JS 框架, 但是 jQuery 是目前最流行的 JS 框架，而且提供了大量的扩展。</p>
          <p>很多大公司都在使用 jQuery， 例如:</p>
          <ul>
            <li>Google</li>
            <li>Microsoft</li>
            <li>IBM</li>
            <li>Netflix</li>
          </ul>
          <table class="lamp" id="table1"><tbody><tr>
              <th width="34"><img src="{% static 'img/lamp.jpg' %}" width="32" height="32" alt="lamp"></th>
              <td>
              <b>jQuery是否适用于所有浏览器?<br></b><br>jQuery 团体知道JS在不同浏览器中存在着大量的兼容性问题，目前jQuery兼容于所有主流浏览器, 包括Internet Explorer 6!</td>
              </tr></tbody>
          </table>
          <!--  友链  -->
          <h1 id="friendlink" class="page-header">友情链接</h1>
          <ul class="link">
            <li><a href="http://www.bootcss.com/">Bootstrap中文网</a></li>
            <li><a href="https://www.djangoproject.com/">Django2.1</a></li>
            <li><a href="http://glyphicons.com/">Glyphicons 字体图标</a></li>
            <li><a href="https://www.iconfont.cn/">Iconfont-阿里巴巴矢量图标库</a></li>
            <li><a href="http://www.jq22.com/">jQuery插件库</a></li>
            <li><a href="https://mal-suen.github.io/"> mal-suen的博客</a></li>
          </ul>
    </div>
  </div>
    
  <div class="col-md-3 col-md-4" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" style="">
        <ul class="nav bs-docs-sidenav">
          
            <li class="">
              <a href="#bootstrap">Bootstrap</a>
              <ul class="nav">
              <li class=""><a href="#bootstrap-what">什么是 Bootstrap？</a></li>
              <li class=""><a href="#bootstrap-history">历史</a></li>
              <li class=""><a href="#bootstrap-why">为什么使用Bootstrap</a></li>
              </ul>
              </li>
              <li class="">
              <a href="#django">Django</a>
              </li>
              <li class="">
              <a href="#jquery">jQuery</a>
              <ul class="nav">
              <li class=""><a href="#jquery-what">什么是jQuery</a></li>
              <li class=""><a href="#jquery-why">为什么使用jQuery</a></li>
              </ul>
              </li>
              <li class="">
              <a href="#friendlink">友情链接</a>
              <ul class="nav">
                  <li><a href="http://www.bootcss.com/">Bootstrap中文网</a></li>
                  <li><a href="https://www.djangoproject.com/">Django2.1</a></li>
                  <li><a href="http://glyphicons.com/">Glyphicons 字体图标</a></li>
                  <li><a href="https://www.iconfont.cn/">Iconfont-阿里巴巴矢量图标库</a></li>
                  <li><a href="http://www.jq22.com/">jQuery插件库</a></li>
                  <li><a href="https://mal-suen.github.io/"> mal-suen的博客</a></li>
              </ul>


        <a class="back-to-top" href="#top">
          返回顶部
        </a>
        
      </nav>
    </div>
    
  </div>
</div>
{% endblock %}