{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "icon/favicon.ico" %}">
    <title>lw Blog</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "icon/iconfont.css" %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>

  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>

    <!-- Docs master nav -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">Blog</a>
        </div>
      <nav id="bs-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            
          <li class="{{ isActive1 }}">
            <a href="/index" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-博客'])"><span class="iconfont icon-zhuye"></span>&nbsp;首页</a>
          </li>
          <li class="{{ isActive2 }}">
            <a href="/blog_list" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-首页'])"><span class="iconfont icon-ai-article"></span>&nbsp;博客</a>
          </li>
          <li class="{{ isActive3 }}">
            <a href="/about" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-关于'])"><span class="iconfont icon-guanyuwomen"></span>&nbsp;关于</a>
          </li>
          <li class="{{ isActive4 }}">
            <a href="#" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-导航'])"><span class="iconfont icon-daohang"></span>&nbsp;导航</a>
          </li>
          <li class="{{ isActive5 }}">
            <a href="#" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-定制'])"><span class="iconfont icon-dingzhikaifafuwu"></span>&nbsp;定制</a>
          </li>
          <li class="{{ isActive6 }}"><a class="reddot" href="#" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-网站实例'])" target="_blank"><span class="iconfont icon-wangzhanguanli"></span>&nbsp;站外</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="http://mb.bootcss.com" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'themes'])" target="_blank">主题/模板</a></li> -->
            <li><a href="/admin" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-Admin'])"><span class="glyphicon glyphicon-user
              " aria-hidden="true"></span>&nbsp;Admin</a></li>
          </ul>
        </nav>
      </div>
      </header>

{% block window %}
    <!-- 大视图标题 -->

{% endblock %}

{% block container %}
    
{% endblock %}
    <!-- Footer
================================================== -->
<footer class="bs-docs-footer">
  <div class="container">
    <ul class="bs-docs-footer-links">
      <li><a href="https://github.com/twbs/bootstrap">GitHub 仓库</a></li>
      <li><a href="../getting-started/#examples">实例</a></li>
      <li><a href="http://www.youzhan.org">优站精选</a></li>
      <li><a href="../about/">关于</a></li>
    </ul>

    <p>by <a href="#" target="_blank">@lw</a>.</p>

    <p>本项目源码受 <a rel="license" href="#" target="_blank">**</a>开源协议保护，文档受 <a rel="license" href="#" target="_blank">lw</a> 开源协议保护。</p>

  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>


<script src="{% static "js/base.js" %}"></script>



  

<svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 140 140" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="10" style="font-weight:bold;font-size:10pt;font-family:Arial, Helvetica, Open Sans, sans-serif">140x140</text></svg>
</body>
</html>
