{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static "css/blog_list.css" %}" rel="stylesheet">
{% endblock %}

{% block window %}
    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
        <h1>博客</h1>
        <p>读书如不及时做笔记，犹如雨落大海没有</p> 
        <p>踪迹！</p> 
      </div>
    </div>
{% endblock %}

{% block container %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-sm-9">
       <div class="top blog-border">
          <h1>用来写排序功能</h1>
       </div>
       <div class="blog-border">
        {% for blog in blogs %}
        <div class="list">
          <a href="/blog/{{ blog.pk }}"><h3>{{ blog.caption }}</h3></a>
          <p>{{ blog.content | truncatechars:120 }}</p><hr>
          <p class="duanluo">发表日期:{{ blog.publish_time }} by lw 评论(0) 浏览(0)</p>
        </div>
        {% endfor %}
      </div>
      <div class="page">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
                {% if blogs.has_previous %}
                    <a href="?page=1">首页</a>
                    <a href="?page={{ blogs.previous_page_number }}" aria-label="Previous">&laquo;</a>
                {% endif %}
            </li>
              {% for i in page_list %}
                {% if i == blogs.number %}
                <li class="active"><span>{{i}}</span></li>
                {% else %}
                <li><a href="?page={{i}}">{{i}}</a></li>
                {% endif %}
              {% endfor %}
              <li>
              {% if blogs.has_next %}
                  <a href="?page={{ blogs.next_page_number }}" aria-label="Next">&raquo;</a>
                  <a href="?page={{ blogs.paginator.num_pages }}">末页</a>
              {% endif %}
              </li>
            </ul>
          </nav>
        </div>
    </div>
     <div class="col-sm-3 blog-border">
      <div class="side-list">
        <h4>随机阅读</h4><hr>
        <ul>
          {% for blog in blogs %}
          <li><a href="#">{{ blog.caption }}</a></li>
          {% endfor %}
        </ul>
        <a class="back-to-top" href="#top">
          ↑返回顶部
        </a>
      </div>
     </div>      
  </div>
</div>
{% endblock %}
