{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static "css/index.css" %}" rel="stylesheet">
{% endblock %}

{% block window %}
    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
        <h1>lw Blog</h1>
        <p>学的不仅是技术，更是梦想！</p>
        <p>再牛逼的梦想,也抵不住你傻X似的坚持！</p>
        
      </div>
    </div>
{% endblock %}

{% block container %}
<div class="container bs-docs-container">
            
    <div class="content-item">
        <h3 class="content-item-title">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>博客</span>
            <span class="content-more">
                共{{blogs|length}}篇文章<a href="#">more&gt;&gt;</a>
            </span>
        </h3>

        <div class="row">
            
            <div class="col-sm-4">
                <div class="home-block"><hr>
                    <h4 class="home-block-title">博客分类</h4>
                    <ul class="list">
                        {% for tag in tags %}
                            <li>
                                <a href="#" target="_blank">{{ tag.tag_name }}</a>
                            </li>
                        {% endfor %}                       
                    </ul>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="home-block" style="min-height: 380px;">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab">
                                 联系我
                            </a>
                        </li>
                        <li><a href="#ios" data-toggle="tab">Python</a></li>
                        <li class="dropdown">
                            <a href="#" id="myTabDrop1" class="dropdown-toggle" 
                               data-toggle="dropdown">Django2.1
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                                <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img style="width: 100%; max-width: 15em;" src="{% static "img/qrcode.jpg" %}">
                                </div>
                                <div class="col-sm-8">
                                    <h4 style="margin-bottom: 0em;margin-top: 1em;font-weight: bolder;">
                                        lw blog
                                    </h4>
                                    <p style="margin-bottom: 2em;">突破局限，编写自己的人生</p>
                                    <p>我的博客用来写我的思考和感悟。<br>有感悟就写，更新频率可能会比较低。<br>可以加我微信联系我~</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ios">
                            <p>Python是一种解释型、面向对象、动态数据类型的高级程序设计语言。

                                    Python由Guido van Rossum于1989年底发明，第一个公开发行版发行于1991年。
                                    
                                    像Perl语言一样, Python 源代码同样遵循 GPL(GNU General Public License)协议。</p>
                        </div>
                        <div class="tab-pane fade" id="jmeter">
                            <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                        </div>
                        <div class="tab-pane fade" id="ejb">
                            <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="home-block">
                    <h4 class="home-block-title">最新发表</h4>
                    <ul class="list">
                        
                            <li><a href="#" target="_blank">Django使用MySQL数据库</a></li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="home-block">
                    <h4 class="home-block-title">最新推荐</h4>
                    <ul class="list">
                        
                            <li><a href="#" target="_blank">django-ckeditor后台富文本编辑器</a></li>
                        
                            
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="home-block">
                    <h4 class="home-block-title">随机推荐</h4>
                    <ul class="list">
                        
                            <li><a href="#" target="_blank">我的网站搭建(第23天) 第三方登录：QQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-item">
        <h3 class="content-item-title">
            <span class="glyphicon glyphicon-fire"></span>
            <span>热读榜</span>
        </h3>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="home-block">
                    <h4 class="home-block-title">周榜</h4>
                    <ul class="list">
                        
                            <li>
                                <a href="#" target="_blank">
                                    Python生成pyd文件
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="home-block">
                    <h4 class="home-block-title">月榜</h4>
                    <ul class="list">
                        
                            <li>
                                <a href="#" target="_blank">
                                    Python生成pyd文件
                                </a>
                            </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="home-block">
                    <h4 class="home-block-title">总榜</h4>
                    <ul class="list">
                        
                            <li>
                                <a href="#" target="_blank">
                                    Python生成pyd文件
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

        </div>
{% endblock %}